server:
    port: 9091



spring:
    cloud:
        config:
            server:
                git:
                    uri: https://github.com/sebastian-medinaOch/microservicios-monolito.git
                    searchPaths: config-data
                    username: ${GIT_USER}
                    password: ${GIT_PASSWORD}
    security:
        user:
            name: root
            password: 123
